<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="https://cn.vuejs.org/images/logo.png" type="image/png">
    <title>mini vue</title>
</head>
<body>
    <div id="wrap">
        <p v-html="test"></p>
        <input type="text" v-model="form">
        <input type="text" v-model="form">
        <button @click="changeValue" v-on:mouseover="">改变值</button>
        {{form}}
    </div>

    <script src="./vue.js"></script>
    <script>
        new Vue({
            el: '#wrap',
            data:{
                form: '这是form的值',
                test: '<strong>我是粗体</strong>',
            },
            methods:{
                changeValue(){
                    console.log(this.form)
                    this.form = '值被我改变了，气不气？'
                }
            }
        })
    </script>

</body>
</html>